# ---- UNITY ----
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Sysroot/
Artifacts/

# ---- IDE / EDITOR ----
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.code-workspace

# ---- C# / DOTNET ----
*.csproj
*.sln
*.unityproj
*.user
*.pidb
*.booproj
*.svd


# Pasta local de assets baixados (não subir)
Assets/_ThirdParty_local/
Assets/__AssetStoreLocal/
Assets/_Downloads/

# (opcional) ignore metas da pasta ignorada
Assets/_ThirdParty_local.meta
Assets/__AssetStoreLocal.meta
Assets/_Downloads.meta

# ---- SISTEMA OPERACIONAL ----
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ---- BUILD / EXPORT ----
/Build*/
